header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  border-bottom: 1px solid black;
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 1;
}
.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}
.logo img {
  margin-right: 12px;
}
.logo span {
  color: MediumAquamarine;
}
nav span {
  display: inline-flex;
  padding: 20px 10px;
}
nav {
  padding-right: 80px;
}
a {
  color: black;
}
h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
.content {
  display: flex;
  margin-right: 32px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
  justify-content: center;
}
.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
.column.large {
  width: 630px;
}
.column.medium {
  width: 300px;
}
.column.small {
  width: 240px;
}
.text_content {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.mother.image_content {
  background-image: url(../../resources/images/img-story-main.png);
}
.earth.image_content {
  background-image: url(../../resources/images/img-story-2.png);
}
.camera.image_content {
  background-image: url(../../resources/images/img-story-3.png);
}
.cats.image_content {
  background-image: url(../../resources/images/img-story-1.png);
}
.image_content {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.mother.image_content {
  font-size: 40px;
  text-align: left;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.stories {
  display: flex;
  margin-top: 17px;
  flex-direction: column;
}
.column.large .stories {
  flex-direction: row;
  justify-content: space-between;
}
.stories.text_content {
  height: 250px;
}
.story {
  display: flex;
  width: 300px;
  flex-direction: column;
}
.news_bites {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.news_bites h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 41px;
}
.news_bites_list {
  display: flex;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 11px 20px;
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  justify-content: center;
  width: 100%;
  height: 325px;
  align-items: center;
}
.footer_title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
  padding-right: 25px;
}
.footer nav {
  display: inline-flex;
  padding-left: 25px;
  padding-right: 0px;
}
